body, p, div, h1, h2, h3, h4, h5, h6, h7, span, a, form, table, tr, td, th, ul, ol, dl, li, dt, dd,
label, input, select, textarea, fieldset, legend, img {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 0.9em;
	margin: 0 1em;
}

div#topbar {
	text-align: right;
	width: 100%;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}

div#wrapper {
	width: 100%;
}

div#content {
	border: 1px dotted gray;
	background: #fafafa;
	float: right;
	width: 85%;
	font-size: 0.8em;
	padding-top: 1em;
}

div#footer {
	font-size: 0.7em;
	text-align:center;
	color: gray;
	margin: 0.5em;
}

div#messages div.error {
	border: 2px solid red;
	background: #ffc9c0;
	margin: 1em;
	padding: 0.5em;
	color: #c40000;
}

div#messages div.error div.trace {
	font-size: 0.8em;
	margin-top: 1.6em;
}

div#messages div.normal {
	border: 2px solid green;
        background-color: #d1ebdc;
	margin: 1em;
	padding: 0.5em;
        color: #348754;
}

div.pager {
	margin: 1em;
}

h1 {
	font-size: 1em;
	font-weight: bold;
	margin: 0 1em;
	font-style: italic;
	border: 1px solid gray;
	padding: 0.2em 0.5em;
}

.ajaxstatus {
	color: #999;
	font-size: 0.8em;
	margin: 4px;
}

.ajaxerror {
	color: red;
	font-size: 0.8em;
	margin: 4px;
}

/*
 * ----------------------------------------------------------------------
 * Menu
 * ----------------------------------------------------------------------
 */

#menu {
	float: left;
	list-style: none;
	width: 14%;
}

#menu ul {
	list-style: none;
	font-size: 0.8em;
	font-weight: normal;
}

#menu li.menu {
	margin-bottom: 1em;
	border: 1px gray dotted;
	padding: 0.5em;
	background: #eee;
	font-weight: bold;
	font-size: 0.9em;
}

#menu li.menu ul li {
}

#menu li.menu ul li.hover {
	background-color: #ddd;
}

#menu li.menu:last-child {
	margin-bottom: 0;
}

#menu li.menu ul li a {
	text-decoration: none;
	color: #333;
	display: block;
	width: 100%;
	outline: none;
}

#menu li.menu ul li.hover a {
	text-decoration: none;
	color: #000;
}

/*
 * ----------------------------------------------------------------------
 * Form
 * ----------------------------------------------------------------------
 */

form {
	margin: 1em;
}

form fieldset {
	margin-bottom: 0.5em;
	background: #fafafa;
	border: 1px solid gray;
	padding: 0.5em;
}

form fieldset.hover {
	background: #fefefe;
	margin-bottom: 0.5em;
	border: 1px solid black;
}

form fieldset legend {
	color: black;
}

form div {
	overflow: hidden;
/*	background-color:0;*/
	margin: 0.5em;
	clear: both;
}

label {
	width: 20em;
	display: block;
	float: left;
}

input, select, textarea {
	display: block;
	float: left;
	margin: 0 0.5em;
}

/*
 * ----------------------------------------------------------------------
 * Tables
 * ----------------------------------------------------------------------
 */

div.table {
	margin: 1em;
	/*padding: 1em;*/
}

table {
	width: 100%;
	font-size: 1em;
	border: none;
	/*margin: 1em;*/
}

td {
	padding: 2px 4px;
}

td img {
	border: none;
}

td.icon {
	text-align: center;
	padding: 1px;
	width: 28px;
}

td.icon a {
	outline: none;
}

td .details, th .details {
	font-size: 0.7em;
	color: gray;
}

th {
	padding: 2px;
	background-color: #ddd;
}

tr.odd {
	background-color: #eee;
}

tr.even {
	background-color: #fafafa;
}

tr.hilight {
	background-color: #dceeff; /*#ccffcc;*/
}

/** Details table **/

table table {
	width: 100%;
	font-size: 0.8em;
	border: none;
	/*margin: 1em;*/
}

table table th {
	background-color: #eee;
}

table form {
	display: block;
	font-size: 0.8em;
	margin: 4px;
	float: none;
}

table label {
	display: inline;
	color: red;
	width: auto;
	float: none;
}

table input, table select, table textarea {
	vertical-align: middle;
	display: inline;
	padding: 2px;
	font-size: 1em;
	border: 1px solid #ddd;
	color: #999;
	margin: 0 0.5em 0.5em 0;
	float: none;
}

/*
 * ----------------------------------------------------------------------
 * Buttons
 * ----------------------------------------------------------------------
 */

div.buttons {
	margin: 1em;
}

div.buttons a {
	outline: none;
}

div.buttons a.button img {
	border: 1px solid gray;
	padding: 0.5em;
	background: #eee;
}

div.buttons a.button_hl img {
	border: 1px solid black;
	padding: 0.5em;
	background: #ddd;
}
