body {
	font-size: 0.9em;
	font-family: Verdana, Arial, Sans-Serif;
	color: #000000;
}

div#topbar {
	width: 100%;
	text-align: right;
}

div#footer {
	font-size: 0.7em;
	text-align:center;
	color: gray;
	margin: 0.5em;
}

div#messages div.error {
	border: 2px solid red;
	background: #ffc9c0;
	margin: 1em;
	padding: 0.5em;
	color: #c40000;
}

div#messages div.error div.trace {
	font-size: 0.8em;
	margin-top: 1.6em;
}

